apscheduler~=3.11.1
colorlog~=6.9.0
dateparser~=1.2.2
dotenv~=0.9.9
peewee~=3.18.1
python-dotenv~=1.1.0
requests~=2.32.4
sentence-transformers~=4.1.0
sqlalchemy~=2.0.44
Quart~=0.20.0
webcolors~=24.11.1